# Игнорирование виртуальной среды
.venv/
__pycache__/

# Игнорирование файлов настроек
*.pyc
*.pyo
*.pyd

# Игнорирование файлов миграций
/migrations/

# Игнорирование локальных настроек
local_settings.py

# Игнорирование файлов окружения
.env

# Игнорирование файлов баз данных SQLite
*.sqlite3

# Игнорирование логов и прочих временных файлов
*.log
*.pyc
*.swp
*~
